// Masthead removed until needed
.c-masthead {
  display: none;
}

.c-hero {
  font-size: calc(var(--t-u1) * 1rem);
  padding-top: var(--baseline-200);
}

.c-hero__headline {
  font-family: $font-family-display;
  color: rgba(51,51,51,1);
  font-size: calc(var(--t-u4) * 1em);
  line-height: var(--baseline-200);
  max-width: 24ch;

  em {
    color: rgba(196,102,47,1);
  }
}

@media (min-width: 40rem) {
  .c-hero__headline {
    font-size: calc(var(--t-u7) * 1em);
    line-height: var(--baseline-300);
  }
}

.c-hero__lead {
  font-weight: 700;
  font-family: $font-family-body;
  line-height: var(--baseline-100);
  font-size: calc(var(--t-d1) * 1em);
  max-width: var(--measure);
}

@media (min-width: 40rem) {
  .c-hero__lead {
    font-size: unset;
    line-height: var(--baseline-100);
  }
}

.c-hero__headline + .c-hero__lead {
  margin-top: calc(var(--baseline-200) - var(--baseline-100));
}

.c-hero__eyebrow {
  font-weight: 700;
  font-size: calc(var(--t-d2) * 1em);
  font-family: $font-family-body;
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(196,102,47,1);
  letter-spacing: 2px;
  width: fit-content;

  &::before {
    content: '❧';
    color:rgba(196,102,47,1);
    margin-left: -2ch;
    margin-right: 0.25ch;
  }
}

.c-hero__eyebrow + .c-hero__headline {
  margin-top: calc(var(--baseline-200) - var(--baseline-100));
}

.c-footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: calc(var(--t-d1) * 1em);
  font-family: $font-family-body;
  color:rgba(196,102,47,1);
  margin-top: calc(var(--baseline-200) - var(--baseline-100));
  padding-bottom: calc(var(--baseline-200) - var(--baseline-100));
}

@media (min-width: 72rem) {
  .c-footer {
    padding-bottom: var(--baseline-200);
  }
}

.c-footer__strapline {
  color: rgba(169,169,169,1);
}

.c-footer__strapline + .footer__contact {
  margin-top: var(--baseline-050);
}