<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="canonical" href="{{ page.url or metadata.canonical | url }}">
    <!-- Feeds -->
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <!-- Styles -->
    <link rel="preload" as="style" href="{{ '/css/critical.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" media="print" onload="this.onload=null;this.removeAttribute('media');">
    <noscript>
      <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    </noscript>
    <!-- Scripts -->
    <script async src="{{ '/js/main.js' | url }}"></script>
  </head>
  <body>
    <main id="content" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <header>
      <hr>
      <nav>
        <h2>Navigation menu</h2>
          {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
          <ul class="nav">
            <li><a href="{{ '/' | url }}">Home</a></li>
            {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}" {% if entry.url == page.url %}aria-current="page"{% endif %}>
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
            </li>
            {%- endfor %}
          </ul>
      </nav>
    </header>
    <footer>
      <hr>
      <h2>P.S.</h2>
      <p>User Experience, Visual Design, Content Strategy</p>
      <p>Let's Talk <a href="mailto:hello@tylensthilaire.com">hello@tylensthilaire.com</a></p>
    </footer>
    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
