---
layout: layouts/base.njk
templateClass: tmpl-home
---

<section class="c-hero">
  <div class="o-col12">
    <h1 class="c-hero__eyebrow">Tylen St Hilaire</h1>
    <p class="c-hero__headline">Hello, I'm a
      <em>UX Architect</em>
      who&nbsp;<em>thinks</em>
      like a generalist &&nbsp;delivers like a
      <em>specialist.</em>
    </p>
    <p class="c-hero__lead">
      For the past 9½ years I've been using art, psychology and technology to bring meaningful experiences to life from
      <s>Yorkshire</s>
      <s>Southampton</s>
      <s>Berlin</s>
      London.
    </p>
  </div>
  <!-- Portfolio temporarily hidden -->
  <div>
    <h2>Portfolio sample</h2>
    <p>A selection of stories collected from my portfolio;</p>
    <ul>
      <li>
        <a href="/img/TylenStHilaire-Resume.pdf">Resume</a>
      </li>
      <li>
        <a href="/img/TylenStHilaire-Portfolio.pdf">Portfolio</a>
      </li>
    </ul>
  </div>
</section>
