---
layout: layouts/base.njk
templateClass: tmpl-home
---

<section class="hero">
  <div class="tier-1up">
    <h1 class="hero--eyebrow">Tylen St Hilaire</h1>
    <p class="hero--headline">Hello, I'm a
      <em>UX Architect</em>
      who&nbsp;<em>thinks</em>
      like a generalist &&nbsp;delivers like a
      <em>specialist.</em>
    </p>
    <p class="hero--lead">
      For the past 6½ years I've been using art, psychology and technology to bring meaningful experiences to life from
      <s>Yorkshire</s>
      <s>Southampton</s>
      <s>Berlin</s>
      London.
    </p>
  </div>
  <!-- Portfolio temporarily hidden -->
  <div hidden="hidden">
    <h2>Portfolio sample</h2>
    <p>A selection of products collected from my portfolio;</p>
    <ul>
      <li>
        <a href="https://tylensthilaire.com/wp-content/uploads/2019/02/Tylen-St-Hilaire-Resume.pdf" download="download">Download Resume</a>
      </li>
      <li>
        <a href="https://tylensthilaire.com/wp-content/uploads/2019/02/Tylen-St-Hilaire-Portfolio-2019-02.pdf" download="download">Download Portfolio</a>
      </li>
    </ul>
  </div>
</section>