---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h1>Tylen St Hilaire</h1>
<p>Hello, I'm a UX Architect who thinks like a generalist & delivers like a specialist.</p>
<p>For the past 4½ years I've been using art, psychology and technology to bring meaningful experiences to life from <s>Yorkshire</s> <s>Southampton</s> <s>Berlin</s> London.</p>
<h2>Portfolio sample</h2>
<p>A selection of products collected from my portfolio;</p>
<ul>
  <li><a href="https://tylensthilaire.com/wp-content/uploads/2019/02/Tylen-St-Hilaire-Resume.pdf" download>Download Resume</a></li>
  <li><a href="https://tylensthilaire.com/wp-content/uploads/2019/02/Tylen-St-Hilaire-Portfolio-2019-02.pdf" download>Download Portfolio</a></li>
</ul>